<template>
    <div class="container row offset-md-2 col-md-8 col-sm-12">
        <form @submit.prevent="addLink" class="mb-3 col-12">
            <div class="form-group">
                <input type="text" class="form-control mb-2" placeholder="url" v-model="link.address">
                <input type="text" class="form-control mb-2" placeholder="shortcut" v-model="link.shortcut">
                <button type="submit" class="btn btn-light btn-block">make</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Address</th>
                <th scope="col">Shortcut</th>
                <th scope="col">Views</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(link, index) in links" v-bind:key="link.id">
                <th scope="row">{{ index+1 }}</th>
                <td>{{ link.address }}</td>
                <td>
                    <a @click.prevent="copyLink(link)" tooltip="click to copy" :href="link.redirect">
                        {{ link.shortcut }}
                    </a>
                </td>
                <td>{{ link.views_count }}</td>
                <td><i @click="deleteLink(link.id)" class="far fa-trash-alt poiner"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
                links: [],
                link: {
                    id: '',
                    address: '',
                    shortcut: '',
                    views_count: 0
                }
            }
        },
        created() {
            this.fetchLinks();
        },
        methods: {
            fetchLinks(page_url) {
                page_url = page_url || 'api/links';
                fetch(page_url, {
                    method: 'get',
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(res => {
                        this.links = res.data;
                    })
                    .catch(err => console.log(err));
            },
            addLink() {
                fetch('api/link', {
                    method: 'post',
                    body: JSON.stringify(this.link),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        this.link.address = "";
                        this.link.shortcut = "";
                        this.fetchLinks();
                    })
                    .catch(err => console.log(err));
            },
            deleteLink(id) {
                if (confirm('Are you sure?')) {
                    fetch(`api/link/${id}`, {
                        method: 'delete'
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.fetchLinks();
                        })
                        .catch(err => console.log(err));
                }
            },
            copyLink(link) {
                let container = this.$refs.container;
                this.$copyText(link.redirect, container);
            }
        }
    }
</script>

<style scoped>

</style>