<template>
    <nav class="navbar navbar-expand-sm navbar-dark mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">Short-URL</a>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>